/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***** COLORS *****/
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local("Amatic SC Regular"), local("AmaticSC-Regular"), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v3/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local("Anaheim"), local("Anaheim-Regular"), url(http://themes.googleusercontent.com/static/fonts/anaheim/v1/9grF9iDBrnUvUAGLpfiBHQ.woff) format("woff"); }

@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  src: local("Sue Ellen Francisco "), local("SueEllenFrancisco"), url(http://themes.googleusercontent.com/static/fonts/sueellenfrancisco/v4/TwHX4vSxMUnJUdEz1JIgrrtXaZAN_aGv07JTA91X2HI.woff) format("woff"); }

@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  src: local("Waiting for the Sunrise"), local("WaitingfortheSunrise"), url(http://themes.googleusercontent.com/static/fonts/waitingforthesunrise/v4/eNfH7kLpF1PZWpsetF-hazFoTnl3mJKNVVnPtbVHJow.woff) format("woff"); }

/* constants */
/* "defaults" */
* {
  text-decoration: none;
  color: white; }

html, body {
  height: 100%; }

body {
  background: white;
  overflow: auto; }

.dummy-separator {
  min-height: 20px;
  background: transparent;
  z-index: 10;
  clear: both;
  position: relative; }
  .dummy-separator:nth-child(1) {
    min-height: 60px; }

.content-preview {
  background: #e0e0e0; }

.about .content-title {
  background: #0072c6; }

.work .content-title {
  background: #00bcf2; }

.contacts .content-title {
  background: #ec863a; }

.misc .content-title {
  background: #78ba00; }

.nav-item {
  position: relative;
  box-shadow: 0px 1px 2px gray;
  border-radius: 1px; }
  .nav-item .item-content {
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
    z-index: 10;
    height: 240px;
    border-radius: 1px; }
    .nav-item .item-content .content-title {
      position: relative;
      padding: 20px 0px 20px 0px;
      font-family: 'Sue Ellen Francisco', cursive;
      font-size: 2.5em;
      letter-spacing: 10px;
      line-height: 200px;
      text-align: center;
      border-radius: 1px;
      -webkit-transition: bottom .3s ease-in-out;
      -moz-transition: bottom .3s ease-in-out;
      transition: bottom .3s ease-in-out; }
    .nav-item .item-content .content-preview {
      color: #808080;
      padding: 20px 20px 20px 20px;
      min-height: 200px;
      position: relative;
      border-radius: 1px;
      -webkit-transition: bottom .3s ease-in-out;
      -moz-transition: bottom .3s ease-in-out;
      transition: bottom .3s ease-in-out; }
    .nav-item .item-content:hover .content-title {
      bottom: 240px;
      -webkit-transition: bottom .3s ease-in-out;
      -moz-transition: bottom .3s ease-in-out;
      transition: bottom .3s ease-in-out; }
    .nav-item .item-content:hover .content-preview {
      bottom: 240px;
      -webkit-transition: bottom .3s ease-in-out;
      -moz-transition: bottom .3s ease-in-out;
      transition: bottom .3s ease-in-out; }

footer {
  position: relative;
  background: transparent; }
  footer .signature {
    color: #a0a0a0;
    font-family: 'Waiting for the Sunrise', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-align: right; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
