/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***** COLORS *****/
/* font colors */
html, body {
  height: 100%; }

body {
  background: #181818;
  min-height: 100%;
  font-size: 16px; }

a {
  text-decoration: none;
  color: white; }

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local("Amatic SC Regular"), local("AmaticSC-Regular"), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v3/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local("Anaheim"), local("Anaheim-Regular"), url(http://themes.googleusercontent.com/static/fonts/anaheim/v1/9grF9iDBrnUvUAGLpfiBHQ.woff) format("woff"); }

@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  src: local("Sue Ellen Francisco "), local("SueEllenFrancisco"), url(http://themes.googleusercontent.com/static/fonts/sueellenfrancisco/v4/TwHX4vSxMUnJUdEz1JIgrrtXaZAN_aGv07JTA91X2HI.woff) format("woff"); }

@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  src: local("Waiting for the Sunrise"), local("WaitingfortheSunrise"), url(http://themes.googleusercontent.com/static/fonts/waitingforthesunrise/v4/eNfH7kLpF1PZWpsetF-hazFoTnl3mJKNVVnPtbVHJow.woff) format("woff"); }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font' !important;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%; }

.nav {
  position: relative;
  padding-top: 40px; }
  .nav .nav-item {
    color: white;
    background: #363636;
    box-shadow: 0px 1px 3px black;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }
    .nav .nav-item:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
    .nav .nav-item.about, .nav .nav-item.work {
      margin-bottom: 20px; }
    .nav .nav-item.about img {
      height: auto;
      width: 80px;
      margin-top: 30px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .nav .nav-item .content-title {
      color: #cccccc; }
    .nav .nav-item span {
      font-size: 1em;
      font-family: 'Anaheim', cursive; }
    .nav .nav-item .content-header, .nav .nav-item .content-container {
      padding: 20px 0px 20px 0px; }
    .nav .nav-item .content-header {
      background: #202020;
      height: 225px;
      position: relative; }
      .nav .nav-item .content-header .content-title {
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 1.3em;
        text-align: center;
        letter-spacing: 2px;
        color: white; }
      .nav .nav-item .content-header .content-img {
        position: absolute;
        text-align: center; }
      .nav .nav-item .content-header img {
        display: block;
        margin-right: auto;
        margin-left: auto; }
    .nav .nav-item .content-container .content-text .link {
      font-weight: bold;
      letter-spacing: 1px; }
    .nav .nav-item .content-container .emphasize {
      font-size: 1.5em; }
    .nav .nav-item .content-container .content-links-list a {
      color: #aaaaaa;
      font-size: 3em;
      margin-left: -0.4em; }
      .nav .nav-item .content-container .content-links-list a a {
        color: #aaaaaa; }
      .nav .nav-item .content-container .content-links-list a:hover a, .nav .nav-item .content-container .content-links-list a:hover {
        color: white; }
    .nav .nav-item .content-container .content-links-list .link {
      text-align: center; }
      .nav .nav-item .content-container .content-links-list .link a {
        margin-left: 0; }

footer {
  margin-top: 35px; }
  footer .signature {
    color: #a0a0a0;
    font-family: 'Waiting for the Sunrise', cursive;
    letter-spacing: 2px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
