/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local("Amatic SC Regular"), local("AmaticSC-Regular"), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v3/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}


@font-face {
    font-family: 'Anaheim';
    font-style: normal;
    font-weight: 400;
    src: local("Anaheim"), local("Anaheim-Regular"), url(http://themes.googleusercontent.com/static/fonts/anaheim/v1/9grF9iDBrnUvUAGLpfiBHQ.woff) format("woff");
}


@font-face {
    font-family: 'Sue Ellen Francisco';
    font-style: normal;
    font-weight: 400;
    src: local("Sue Ellen Francisco "), local("SueEllenFrancisco"), url(http://themes.googleusercontent.com/static/fonts/sueellenfrancisco/v4/TwHX4vSxMUnJUdEz1JIgrrtXaZAN_aGv07JTA91X2HI.woff) format("woff");
}


@font-face {
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 400;
    src: local("Waiting for the Sunrise"), local("WaitingfortheSunrise"), url(http://themes.googleusercontent.com/static/fonts/waitingforthesunrise/v4/eNfH7kLpF1PZWpsetF-hazFoTnl3mJKNVVnPtbVHJow.woff) format("woff");
}




/***** COLORS *****/
$bg_color: white;

$about_color: #008fc8;
$work_color: #d84040;
$contacts_color: #ef863a;
$misc_color: #40aa40;

$nav_item_height: 240px;

/* "defaults" */
* {
    text-decoration: none;
    color: $bg_color;
}

html, body {
    height: 100%;
}

body {
    background: $bg_color;
    overflow: auto;
}

@mixin nav_item_hover() {
    -webkit-transition: bottom .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out;
}

.dummy-separator-middle {
    // min-height: 5px;
    // width: 100%;
    // float: left;
}

.dummy-separator-top, .dummy-separator-bottom {
    min-height: 60px;
}

.content-preview {
    background: #e0e0e0;
}

.symbol {
    font-size: 5em;
    line-height: .7em;
    text-align: center;
}

.expander {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 480px;
    margin-right: 2px;
    width: 0.9em;

    cursor: pointer;
    cursor: hand;

    background: lighten($about_color, 50%);

    font-size: 1.8em;
    font-family: 'Waiting for the Sunrise', cursive;

    div {
        margin-right: auto;
        margin-left: auto;
        vertical-align: middle;
        line-height: 0.9em;
        text-align: center;

        color: lighten($about_color, 25%);
    }

    &:hover {
        div {
            color: lighten($about_color, 55%);
        }
        background: lighten($about_color, 25%);
    }
}

.expanded-card {
    bottom: 240px;

    @include nav_item_hover();
}

.nav-item {
    position: relative;
    // box-shadow: 0px 1px 2px gray;

    width: 480px !important; // FIXED

    .item-content {
        overflow: hidden;
        z-index: 10;
        height: $nav_item_height;

        .content-title {
            position: relative;
            font-family: 'Amatic SC', cursive;
            font-size: 5em;
            letter-spacing: 10px;
            line-height: $nav_item_height;
            text-align: center;

            @include nav_item_hover();
        }

        .content-preview {
            * {
                color: $bg_color;
            }
            min-height: $nav_item_height;
            position: relative;

            .preview-text {
                padding: 20px 0px 20px 0px;
                font-family: 'Anaheim', cursive;
            }

            @include nav_item_hover();
        }

        &:hover {
            .content-title {
                bottom: 240px;

                @include nav_item_hover();
            }
            .content-preview {
                bottom: 240px;

                @include nav_item_hover();
            }
        }
    }
}


#about {
    .content-title {
        background: $about_color;
    }
    .content-preview {
        background: lighten($about_color, 10%);
        
        .preview-img {
            float: left;

            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
            opacity: 0.9;
        }

        .preview-text {
            display: inline;
            float: left;
            max-width: 230px;

            .text-title {
                font-family: 'Sue Ellen Francisco', cursive;
                font-size: 2em;
                display: inline-block;
                padding-top: 10px;
                padding-left: 20px;
                width: 260px;

                background: $about_color;
            }
            .text {
                display: inline-block;
                padding-left: 20px;
                font-size: 1em !important;

                .text-strong {
                    display: block;
                    padding-left: 2px;
                    font-size: 1.1em !important;

                    &:hover {
                        background: $about_color;
                    }
                }
            }
        }

        img {
            width: auto;
            height: 240px;
        }

        .text-name {
            font-size: 2em;
        }

    }

    &:hover {
        // -webkit-transform: rotate(-1deg);
        // transform: rotate(-1deg);
    }
}

#work {
    .content-title {
        background: $work_color
    }
    .content-preview {
        background: lighten($work_color, 5%);


    }

    &:hover {
        // -webkit-transform: rotate(1deg);
        // transform: rotate(1deg);
    }
}

#contacts {
    .content-title {
        background: $contacts_color;
    }

    .content-preview {
        background: lighten($contacts_color, 5%);

        .preview-text {
            padding-left: 0px;
            padding-right: 0px;
        }

        .container {
            display: inline-block;

            padding-left: 40px;

            &:hover {
                background: $contacts_color;
            }
        }

        .col-left {
            text-align: right;

            font-family: 'Amatic SC', recursive;
            font-size: 2em;
            letter-spacing: 3px;
        }

        .col-right {
            text-align: left;

            span {
                line-height: 2.75em;
                padding-left: 20px;
            }
        }
    }

    &:hover {
        // -webkit-transform: rotate(-1deg);
        // transform: rotate(-1deg);
    }
}

#misc {
    .content-title {
        background: $misc_color;
    }
    .content-preview {
        background: lighten($misc_color, 5%);
    }

    &:hover {
        // -webkit-transform: rotate(1deg);
        // transform: rotate(1deg);
    }
}

footer {
    background: transparent;
    .signature {
        color: #a0a0a0;
        font-family: 'Waiting for the Sunrise', cursive;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5em;
        text-align: right;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}