.app {
    width: 100%;
    height: 100%;

    text-align: center;
    background-color: black;
    color: #e0e0e0;
}

.squares {
    position: relative;
    width: 100%;
    height: 100%;
}

.square {
    position: absolute;
    height: 8px;
    width: 8px;
    border: cyan solid 1px;
}
